-# %div{style: "margin: 40px"}
-#   = form_for @message, remote: true do |f|
-#     .form-group
-#       = f.text_field :content, class: "form-control"
-#       = f.submit 'Add', class: 'btn btn-primary'

-#   %div#msg
